nav>ol {
    list-style-type: none;
    display: flex;
    justify-content: center;
    top: 0px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
}

nav {
    top: 15px;
    position: sticky;
    background-color: #187cff;
}

nav>input {
    float: right;
}

nav>img {
    float: left;
}

nav>ol>li>a {
    text-decoration: none;
    color: #090909;
    text-align: center;


}

nav>ol>li {
    display: inline-block;
    width: 250px;
    height: 50px;
    background-color: #ffae18;
    margin: 10px;
    line-height: 50px;


}

nav>ol>li:hover {
    background-color: #ffbc40
}

.reperti {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
}

.reperti>div {
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 40px;
    display: inline-block;
    font-size: 40px;
    text-align: center;
    line-height: 300px;
}

.reperti {
    background-color: #8BC7FF;
    justify-content: center;
}

#test {
    width: 40%;
    background-color: aquamarine;
    margin-left: 20px;
    text-align: center;
}

.proba {
    display: flex;
    flex-wrap: wrap;

}

.reperti>p {
    width: 700px;
    height: 80px;
    background-color: #187cff;
    position: relative;
    margin-top: 0;
}