body {
    padding: 0;
    margin: 0;
}

nav>ol {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 0;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
}

nav {
    top: 0px;
    position: sticky;
    background-color: #187cff;
    z-index: 3;

}



nav>ol>li>a {
    text-decoration: none;
    color: #090909;
    text-align: center;


}

nav>ol>li {
    display: inline-block;
    width: 250px;
    height: 50px;
    background-color: #ffae18;
    margin: 10px;
    line-height: 50px;


}

nav>ol>li:hover {
    background-color: #ffbc40
}

.reperti {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    background-color: #8BC7FF;
    justify-content: center;
    margin-left: 20px;
}

.reperti>div {
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 40px;
    display: inline-block;
    font-size: 40px;
    text-align: center;
    line-height: 300px;
}



.badb {
    width: 40%;
    background-color: #8BC7FF;
    margin-left: 20px;
    text-align: center;
    display: none;
}

.proba {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.reperti>.pp,
.badb>.pp {
    width: 100%;
    height: 80px;
    background-color: #187cff;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.iks {
    width: 50px;
    height: 50px;
    background-color: #ffae18;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    line-height: 40px;
}

.guzik {
    background-color: #ffae18;
    border-radius: 0;
    box-shadow: none;

}

#wozek {
    display: none;
    justify-content: center;
    margin-left: 83%;
    text-align: center;
}

#wozek>div {
    background-color: rgb(188, 214, 238);
    position: fixed;
    margin-right: 10px;
    width: 250px;
    height: 300px;
    z-index: 4;
    overflow: auto;

}

.reperti>div>p {
    display: none;
}

#ceny{
    display: none;
}

#sklep{
    background-color: #8BC7FF;
}

#sklep:hover{
    background-color: #a9d6ff;
}

label{
    width: 100%;
    height: 100%;
}

.tempo{
    display: none;
}

.popap{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    display: none;
    align-items:center;
    justify-content: center;
}

.popap>div{
    background-color: rgb(8, 32, 168);
    width: 1000px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.popap>div>button{
    width: 200px;
    height: 50px;
    background-color: #ffae18;
}

.popap>div>p{
    flex-basis: 100%;
    display: flex;
    width: 100px;
    height: 100px;
    color: #ffae18;
    justify-content: center;
}